.container-button-edit-order-summary{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button-edit-order-summary{
    background-color: rgb(185, 40, 40);
    border: none;
    margin: 5px;
    margin-right: 15px;
    height: 30px;
    width: 50px;
    color: aliceblue;
}